
@{
    ViewBag.Title = "Jobs";
}
@if (ViewBag.Jobs.Count > 0)
{
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    @*<span class="subheading">Recently Added Jobs</span>*@
                    <h2 class="mb-4"><span>Jobs</span> For You</h2>
                </div>
            </div>
            <div class="row">

                @foreach (var item in ViewBag.Jobs)
                {
                    <div class="col-md-12 ftco-animate ">
                        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center shadow">
                            <div class="mb-4 mb-md-0 mr-5">
                                <div class="job-post-item-header d-flex align-items-center">
                                    <h2 class="mr-3 text-black h3">@item.JobTitle</h2>
                                    <div class="badge-wrap">
                                        <span class="bg-primary text-white badge py-2 px-3">@item.JobType.JobTypeName</span>
                                    </div>
                                </div>
                                <div class="justify-content-center">
                                    <p class="justify-content-between">@item.JobDescription</p>
                                </div>
                                <div class="badge-wrap">
                                    <span class="bg-success text-white badge py-2 px-3 mb-2">BUDGET: BDT @item.Budget</span>
                                </div>
                                <div class="job-post-item-body d-block d-md-flex">
                                    <div class="mr-3"><span class="icon-layers"></span> <a href="#">@item.User.Name</a></div>
                                    <div class="mr-3"><span class="icon-my_location"></span> <span>@item.City.CityName</span></div>
                                    <div><span class="icon-add_alert"></span> <span>@item.FreelancerCategory.FreelancerCategoryName</span></div>
                                </div>
                            </div>
                            <div class="ml-auto d-flex">
                                <a href="~/Findworks/ApplyJob?JobId=@item.JobId" class="btn btn-primary py-2 mr-1">Submit Proposal</a>
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
    </section>
}
else
{
    <div class="ftco-section bg-light">
        <div class="container">
            <div class="p-4 mb-1 bg-white shadow">
                <section class="ftco-section-parallax">
                    <div class="parallax-img d-flex align-items-center">
                        <div class="container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                                    <h2 style="font-size:30px">No Jobs Found For You</h2>
                                    <center><a href="~/FindWorks/Index" class="btn btn-success" style="color:white">Find More Work by Filtering?</a></center>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}